html,
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #02111b;
  width: 100%;
  height: 100%;
  color: white;
}

body,
main {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

form label {
  display: flex;
  flex-direction: column;
}

form textarea {
  width: 400px;
  height: 200px;
}

form button {
  align-self: flex-end;
}
